html,
body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    box-sizing: border-box;
}

:root {
    --title: 'Varela Round', sans-serif;
    --text:  'Varela', sans-serif;
    --wine: #820233;
    --dust: #353336;
    --mazona: #767674;
    --grayland :#E0DBDA;
}

/*Hotel*/

.hotels{
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hotel{
    max-width: 20vw;
    height: 95vh;
    display: flex;
    flex-direction:column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 26px 26px 26px 26px;
    -moz-border-radius: 26px 26px 26px 26px;
    -webkit-border-radius: 26px 26px 26px 26px;
    border: 0px solid #000000;
    background-color: white;
    margin: 2%;
    position: relative;
}
.hotel:hover{
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.cover {
    border-radius: 5% 5% 0 0;
}
.name {
    padding-top: 10%;
    line-height: 20px;
    font-family: var(--title);
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    text-align: center;
    color: var(--wine)
}
.hotel-holder {
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon {
    margin-right: 10px;
    font-size: 0.8em;
    color: var(--dust);
}
.icon-info {
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--text);
    font-weight: bold;
    font-size: 0.9em;
    color: var(--dust);
    margin-bottom: 50px;
}

.location {
    text-align: center;
    font-family: var(--text);
    font-size: 0.9em;
    font-weight: bold;
    color: var(--dust)
}

.description {
    font-family: var(--text);
    text-align: justify;
    font-size: 0.7em;
    color: var(--mazona);
}
.bookButton {
    width: 90%;
    border:0px;
    font-family: var(--text);
    text-align: center;
    font-weight: bold;
    color: var(--dust);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    transition: all .2s ease-in-out; 
}

.bookButton:hover { 
    transform: scale(1.1); 
}
.bookButton:focus{
    border: 0px;
    outline: 0px;
}
.bottom{
    display: flex;
    justify-content: center;
    border-radius: 5%;
    width: 20vw;
    height: 50px;
    position: absolute;
    bottom: 20px;
}

.not-found{
    font-family: var(--text);
    color: var(--mazona);
    padding: 5%;
}

/*Header*/

.header-filter{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.header{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: var(--title);
    text-align: center;
}
.dates{
    position: absolute;
    top: 80%;
    font-size: 1.2em;
    color:white;
    
}
.in-out-dates{
    font-weight: bold;
    color: white;
}
.title{
    border: white 4px solid;
    padding: 2%;
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 3em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-img{
    width: 100%;
}

/*Filter*/

.filter{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -25px;
    background-color:white;
    border-radius: 32px 32px 32px 32px;
    -moz-border-radius: 32px 32px 32px 32px;
    -webkit-border-radius: 32px 32px 32px 32px;
    border: 0px solid #000000;
    width: 85%;
}
.filter input, select{
    border:  0px;
}
.filter select,input:focus{
    outline: 0px;
}
option:hover{
    color: var(--dust);
    box-shadow: 0 0 10px 100px var(--mazona) inset;
    background-color: #767674;
}
.filter-module{
    font-family: var(--title);
    color: var(--mazona);
    font-size: 0.9em;
    display: flex;
    align-items: center;
    background-color: white;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
    margin-right: 1%;
}
.sweet-alert {
    font-family: var(--title) !important;
  }
.sweet-alert button{
    background-color: var(--wine) !important;
    opacity: 0.7 !important;
}
.color-full{
    color: var(--wine);
    margin: 2px;
}
.color-empty{
    color: var(--mazona);
    margin: 2px;
}

/* Responsive on mobile and lg screen*/

@media (max-width: 768px) { 
    .title{
        font-size: 1em;
        border: white 2px solid;
        padding: 1%;
    }
    .dates{
        padding: 1%;
        font-size: 0.7em;
        top:70%;
        
    }
    .filter{
        border-radius: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        bottom: -170px;
        font-size: 0.8em;
        text-align: center;

    }
    .filter-module{
        text-align: center;
        width: 100%;
        padding-top: 2%;
        padding-bottom: 2%;
        border-top: 1px solid var(--grayland);
        border-bottom: 1px solid var(--grayland);;
    }
    .filter-module:nth-child(1){
        border-top: 0px;
    }
    .filter-module:nth-child(5){
        border-bottom: 0px;
    }
    .hotel{
        max-width: 70vw;
        height: 80vh;
    }
    .hotels{
        padding-top: 50%;
        flex-direction: column;
        align-items: center;
    }
    .bottom{
        display: flex;
        align-items: center;
        width: 100%;
    } 
    .bookButton {
        height: 50px;
    }
    .name{
        font-size: 1em;
    }
    .location{
        font-size: 0.7em;
    }
    .description{
        font-size: 0.7em;
    }
    .icon-info{
        font-size: 0.8em;
    }
    .bookButton{
        font-size: 0.9em;
    }
 }

